services:
  # Broker (REQ/REP) para comandos (login, etc.)
  broker:
    build:
      context: .
      dockerfile: Dockerfile_broker
    container_name: broker
    ports:
      - "5557:5557" # Frontend (ROUTER) para clientes REQ
      - "5558:5558" # Backend (DEALER) para servidores REP

  referencia:
    build:
      context: .
      dockerfile: Dockerfile_referencia
    container_name: referencia
    ports:
      - "5560:5560"

  # Proxy (PUB/SUB) para mensagens de chat
  proxy:
    build:
      context: .
      dockerfile: Dockerfile_proxy
    container_name: proxy
    ports:
      - "5555:5555" # Frontend (XSUB) para servidores PUB
      - "5556:5556" # Backend (XPUB) para clientes SUB

  servidor:
    build:
      context: .
      dockerfile: Dockerfile_servidor
  
    deploy:
      replicas: 3
    volumes:
      - ./servidor.py:/app/servidor.py
      - server_data:/app/data 
    depends_on:
      - broker
      - proxy
      - referencia

  cliente:
    build:
      context: .
      dockerfile: Dockerfile_cliente
    container_name: cliente
    stdin_open: true
    tty: true
    depends_on:
      - servidor 

  cliente_automatico:
    build:
      context: .
      dockerfile: Dockerfile_cliente_automatico
    depends_on:
      - servidor
    
    # docker compose up --build --scale cliente_automatico=2

volumes:
  server_data: